<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>혈당측정기 관리 시스템</title>

  <!-- Bootstrap CSS -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

</head>

<body>
  <div class="container">
    <!-- Navigation -->
    <ul class="nav nav-tabs my-3" id="menuTab" role="tablist">
      <li class="nav-item">
        <button class="nav-link active" id="device-tab" data-bs-toggle="tab" data-bs-target="#device" type="button"
          role="tab">장비관리</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" id="stick-tab" data-bs-toggle="tab" data-bs-target="#stick" type="button"
          role="tab">Stick관리</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" id="qc-tab" data-bs-toggle="tab" data-bs-target="#qc" type="button"
          role="tab">정도관리</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" id="report-tab" data-bs-toggle="tab" data-bs-target="#report" type="button"
          role="tab">결과보고</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" id="place-tab" data-bs-toggle="tab" data-bs-target="#place" type="button"
          role="tab">장소관리</button>
      </li>
    </ul>


    <!-- Tab Content -->
    <div class="tab-content">
      <!-- 장비관리 -->
      <div class="tab-pane fade show active" id="device" role="tabpanel" aria-labelledby="device-tab">
        <h2>장비관리</h2>
        <ul class="nav nav-pills my-3" id="deviceSubTab" role="tablist">
          <li class="nav-item">
            <button class="nav-link active" id="register-tab" data-bs-toggle="tab" data-bs-target="#register"
              type="button" role="tab">장비 등록</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="modify-tab" data-bs-toggle="tab" data-bs-target="#modify" type="button"
              role="tab">장비 수정/폐기</button>
          </li>
        </ul>
        <div class="tab-content">
          <!-- 장비 등록 -->
          <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
            <h3>장비 등록</h3>
            <form id="registerDeviceForm">
              <div class="mb-3">
                <label for="registerPlaceCode" class="form-label">장소</label>
                <select class="form-control" id="registerPlaceCode" required>
                  <option value="" disabled selected>장소를 선택하세요</option>
                  <!-- 옵션 항목은 JavaScript로 동적으로 추가됩니다 -->
                </select>
              </div>
              <div class="mb-3">
                <label for="registerSerial">장비번호</label>
                <div class="input-group">
                  <input type="text" id="registerSerial" name="registerSerial">
                  <button type="button" onclick="openRegisterSerialScanner()" class="show-on-mobile">📷</button>
                </div>
              </div>
              <div class="mb-3">
                <label for="registerStartDate" class="form-label">도입일</label>
                <input type="date" class="form-control" id="registerStartDate" required>
              </div>
              <div class="mb-3">
                <label for="registerReplaceSerial" class="form-label">교체 장비번호 (선택사항)</label>
                <select class="form-control" id="registerReplaceSerial">
                  <option value="">없음</option> <!-- 기본 선택 항목 -->
                  <!-- 옵션 항목은 JavaScript로 동적으로 추가됩니다 -->
                </select>
              </div>
              <div class="mb-3">
                <label for="registerReplaceReason" class="form-label">교체 사유</label>
                <textarea class="form-control" id="registerReplaceReason" rows="3"
                  placeholder="교체 사유를 입력하세요"></textarea>
              </div>
              <div class="mb-3">
                <label for="registerDetail" class="form-label">비고</label>
                <textarea class="form-control" id="registerDetail" rows="3"></textarea>
              </div>
              <button type="button" class="btn btn-primary" onclick="registerDevice()">저장</button>
            </form>
          </div>

          <!-- 장비 수정/폐기 -->
          <div class="tab-pane fade" id="modify" role="tabpanel" aria-labelledby="modify-tab">
            <h3>장비 수정/폐기/삭제</h3>
            <button type="button" class="btn btn-info mb-3 hide-on-mobile" onclick="printDeviceTable()">출력</button>

            <!-- 장비 목록 테이블 -->
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>장소</th>
                    <th>장비번호</th>
                    <th class="hide-on-mobile">도입일</th>
                    <th class="hide-on-mobile">폐기일</th>
                    <th class="hide-on-mobile">교체장비번호</th>
                    <th class="hide-on-mobile">교체사유</th>
                    <th>장비상세</th>
                    <th>사용여부</th>
                    <th>수정/삭제</th>
                  </tr>
                </thead>
                <tbody id="device-table-body">
                  <!-- 데이터가 여기 렌더링됨 -->
                </tbody>
              </table>
            </div>


          </div>
        </div>
      </div>

      <!-- Stick관리 -->
      <div class="tab-pane fade" id="stick" role="tabpanel" aria-labelledby="stick-tab">
        <h2>Stick관리</h2>
        <ul class="nav nav-pills my-3" id="stickSubTab" role="tablist">
          <li class="nav-item">
            <button class="nav-link active" id="stick-register-tab" data-bs-toggle="tab"
              data-bs-target="#stick-register" type="button" role="tab">Stick 등록</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="stick-modify-tab" data-bs-toggle="tab" data-bs-target="#stick-modify"
              type="button" role="tab">Stick 수정/삭제</button>
          </li>
        </ul>
        <div class="tab-content">
          <!-- Stick 등록 -->
          <div class="tab-pane fade show active" id="stick-register" role="tabpanel"
            aria-labelledby="stick-register-tab">
            <h3>Stick 등록</h3>
            <form id="stickRegisterForm">
              <div class="mb-3">
                <label for="StickLot">Stick Lot</label>
                <div class="input-group">
                  <input type="text" id="StickLot" name="StickLot">
                  <button type="button" onclick="openStickLotScanner()" >📷</button>
                </div>
              </div>
              <div class="mb-3">
                <label for="StickExpDate" class="form-label">유효기간</label>
                <input type="date" class="form-control" id="StickExpDate" required>
              </div>
              <div class="mb-3">
                <label for="LowMin" class="form-label">LowMin</label>
                <input type="tel" class="form-control" id="LowMin">
              </div>
              <div class="mb-3">
                <label for="LowMax" class="form-label">LowMax</label>
                <input type="tel" class="form-control" id="LowMax">
              </div>
              <div class="mb-3">
                <label for="HighMin" class="form-label">HighMin</label>
                <input type="tel" class="form-control" id="HighMin">
              </div>
              <div class="mb-3">
                <label for="HighMax" class="form-label">HighMax</label>
                <input type="tel" class="form-control" id="HighMax">
              </div>
              <button type="button" class="btn btn-primary" onclick="registerStick()">등록</button>
            </form>
          </div>

          <!-- Stick 수정/삭제 -->
          <div class="tab-pane fade" id="stick-modify" role="tabpanel" aria-labelledby="stick-modify-tab">
            <h3>Stick 수정/삭제</h3>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Lot</th>
                    <th>유효기간</th>
                    <th>Low</th>
                    <th>High</th>
                    <th>수정/삭제</th>
                  </tr>
                </thead>
                <tbody id="sticks-table-body">
                  <!-- 데이터가 여기 렌더링됨 -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- 정도관리 -->
      <div class="tab-pane fade" id="qc" role="tabpanel" aria-labelledby="qc-tab">
        <h2>정도관리</h2>
        <ul class="nav nav-pills my-3" id="qcSubTab" role="tablist">
          <li class="nav-item">
            <button class="nav-link active" id="qc-register-tab" data-bs-toggle="tab" data-bs-target="#qc-register"
              type="button" role="tab">내부정도관리 결과 등록</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="qc-check-tab" data-bs-toggle="tab" data-bs-target="#qc-check" type="button"
              role="tab">내부정도관리 결과 확인/수정</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="exqc-register-tab" data-bs-toggle="tab" data-bs-target="#exqc-register" type="button"
              role="tab">외부정도관리 결과 등록</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="exqc-check-tab" data-bs-toggle="tab" data-bs-target="#exqc-check" type="button"
              role="tab">외부정도관리 결과 확인/수정</button>
          </li>
          
        </ul>
        <div class="tab-content">
          <!-- 결과 등록 -->
          <div id="qc-register" class="tab-pane fade show active" role="tabpanel" aria-labelledby="qc-register-tab">
            <h3>내부정도관리 결과 등록</h3>
            <!-- 검사일 선택 -->
            <div class="mb-3">
              <label for="testDate" class="form-label">검사일</label>
              <input type="date" id="testDate" class="form-control w-50 mb-3">
            </div>
            <!-- 장소 선택 -->
            <div class="mb-3">
              <label for="placeSelect" class="form-label">장소 선택</label>
              <select id="placeSelect" class="form-control">
                <option value="" disabled selected>장소를 선택하세요</option>
              </select>
            </div>

            <!-- StickLot 선택 -->
            <div class="mb-3">
              <label for="stickLotSelect" class="form-label">Stick Lot 선택</label>
              <select id="stickLotSelect" class="form-control">
                <option value="" disabled selected>Stick Lot을 선택하세요</option>
              </select>
              <button type="button" onclick="openStickLotScannerforQc()" >📷</button>
              <!-- StickLot 선택갱신 내용 -->
              <div id="stickInfo" class="mt-3">
                <p><strong>Exp. Date:</strong> <span id="stickExpDate"></span></p>
                <p><strong>Low:</strong> <span id="stickLow"></span></p>
                <p><strong>High:</strong> <span id="stickHigh"></span></p>
              </div>
            </div>

            <!-- 장비 선택 -->
            <div class="mb-3">
              <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="includeTestedDevices" checked>
                <label class="form-check-label" for="includeTestedDevices">
                  검사 데이터가 있는 장비도 포함
                </label>
              </div>              
              <label for="deviceSerialSelect" class="form-label">장비 선택</label>
              <select id="deviceSerialSelect" class="form-control">
                <option value="" disabled selected>장비를 선택하세요</option>
              </select>
            </div>

            <!-- 더하기 버튼 -->
            <button id="addDialogButton" class="btn btn-primary">+</button>
            <button id="bulkAddButton" class="btn btn-secondary">일괄추가</button>

            <!-- 대화상자 컨테이너 -->
            <div id="dialogContainer" class="mt-4"></div>
            <!-- QC 시약 정보 -->
            <div id="qcInfo" class="mb-4">
              <h5>QC 시약 정보</h5>
              <div class="row">
                <div class="col-md-6">
                  <label for="qcLot" class="form-label">QC Lot</label>
                  <input type="text" class="form-control" id="qcLot" placeholder="QC Lot 값을 입력하세요">
                </div>
                <div class="col-md-6">
                  <label for="qcExpDate" class="form-label">QC ExpDate</label>
                  <input type="date" class="form-control" id="qcExpDate">
                </div>

              </div>
              <button class="btn btn-primary mt-3" onclick="saveQcReagent()">QC 시약 정보 저장</button>
            </div>

            <!-- 일괄 저장 버튼 -->
            <button id="saveAllButton" class="btn btn-success mt-3">일괄 저장</button>
          </div>


          <!-- 결과 확인/수정 -->
          <div class="tab-pane fade" id="qc-check" role="tabpanel" aria-labelledby="qc-check-tab">
            <h3>내부정도관리 결과 확인/수정</h3>
            <p>기존 결과를 확인하거나 수정합니다.</p>
            <input type="date" id="qcDateSearch" class="form-control w-50 mb-3">
            <!-- 결과 목록 테이블 -->
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>장비번호</th>
                    <th>장소</th>
                    <th class="hide-on-mobile">테스트 날짜</th>
                    <th class="hide-on-mobile">Stick Lot</th>
                    <th>Low Result</th>
                    <th>High Result</th>
                    <th class="hide-on-mobile">결과판정</th>
                    <th class="hide-on-mobile">장비상태</th>
                    <th class="hide-on-mobile">서명</th>
                    <th class="hide-on-mobile">비고</th>
                    <th>수정/삭제</th>
                  </tr>
                </thead>
                <tbody id="resultsTableBody">
                  <!-- 데이터가 렌더링됩니다 -->
                </tbody>
              </table>

            </div>
            <!-- Delete unused signs 버튼 추가 -->
            <button id="deleteUnusedSignsButton" class="btn btn-danger mt-3 hide-on-mobile">Delete Unused Signs</button>
            <div id="deleteUnusedSignsStatus" class="mt-2 hide-on-mobile"></div>
          </div>

          <!-- 외부정도관리 결과 등록 -->
          <div class="tab-pane fade" id="exqc-register" role="tabpanel" aria-labelledby="exqc-register-tab">
            <h3>외부정도관리 결과 등록</h3>
            <span id="exCount"> 외부정도관리 시행 Count : </span>
            <form id="exqcRegisterForm">
              <div class="mb-3">
                <label for="exqcTestDate" class="form-label">검사일</label>
                <input type="date" class="form-control" id="exqcTestDate" required>
                <label for="exqcPlaceSelect" class="form-label">장소</label>
                <select class="form-control" id="exqcPlaceSelect" required>
                  <option value="" disabled selected>장소를 선택하세요</option>
                  <!-- 옵션 항목은 JavaScript로 동적으로 추가됩니다 -->
                </select>
                <label for="exqcStickLot" class="form-label">Stick Lot</label>
                <select class="form-control" id="exqcStickLot" required>
                  <option value="" disabled selected>Stick Lot을 선택하세요</option>
                  <!-- 옵션 항목은 JavaScript로 동적으로 추가됩니다 -->
                </select>
                <div class="mb-3">
                  <button type="button" onclick="openStickLotScannerforExqc()">📷</button>
                  <label for="exqcDeviceSerial" class="form-label">장비번호</label>
                  <select class="form-control" id="exqcDeviceSerial" required>
                    <option value="" disabled selected>장비를 선택하세요</option>
                    <!-- 옵션 항목은 JavaScript로 동적으로 추가됩니다 -->
                  </select>
                </div>
                <button type="button" onclick="openSerialScannerforExqc()">📷</button>
                <button id="exAddDialogButton" class="btn btn-primary">+</button>
                <button id="exBulkAddButton" class="btn btn-secondary">일괄추가</button>
                <div id="exDialogContainer" class="mt-4"></div>
                <button id="saveExAllButton" class="btn btn-success mt-3">일괄 저장</button>
              </div>
            </form>
          </div>

          <!-- 외부정도관리 결과 확인/수정 -->
          <div class="tab-pane fade" id="exqc-check" role="tabpanel" aria-labelledby="exqc-check-tab">
            <h3>외부정도관리 결과 확인/수정</h3>
            <input type="date" id="exqcDateSearch" class="form-control w-50 mb-3">
            <!-- 결과 목록 테이블 -->
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>장비번호</th>
                    <th>장소</th>
                    <th class="hide-on-mobile">테스트 날짜</th>
                    <th class="hide-on-mobile">Stick Lot</th>
                    <th>1st Result</th>
                    <th>2nd Result</th>
                    <th>3rd Result</th>
                    <th class="hide-on-mobile">서명</th>
                    <th class="hide-on-mobile">비고</th>
                    <th>수정/삭제</th>
                  </tr>
                </thead>
                <tbody id="exqcResultsTableBody">
                  <!-- 데이터가 렌더링됩니다 -->
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

      <!-- 결과보고 -->
      <div class="tab-pane fade" id="report" role="tabpanel" aria-labelledby="report-tab">
        <h2>결과보고</h2>
        <!-- 보고서 생성 폼 -->
        <form class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="reportStartDate" class="form-label">시작 날짜</label>
            <input type="date" id="reportStartDate" class="form-control w-auto" placeholder="YYYY-MM-DD">
          </div>
          <div class="col-auto">
            <label for="reportEndDate" class="form-label">종료 날짜</label>
            <input type="date" id="reportEndDate" class="form-control w-auto" placeholder="YYYY-MM-DD">
          </div>
          <div class="col-auto">
            <label for="reportManager" class="form-label">담당자</label>
            <input type="text" id="reportManager" class="form-control w-auto" placeholder="담당자 이름">
          </div>
          <div class="col-auto d-flex align-items-end">
            <button type="button" class="btn btn-info" onclick="generateReport()">보고서 생성</button>
            <button type="button" class="btn btn-secondary ms-2" onclick="printReport()">프린트</button>
          </div>
        </form>
        <!-- 보고서 생성 공간 -->
        <div id="reportContent" class="mt-4 border p-3" style="background-color: #f9f9f9; display: none;">
          <!-- 제목 -->
          <div style="text-align: center; margin-bottom: 20px;">
            <h1 class="mb-3" style="margin: 0; font-size: 24px;">내부정도관리 및 장비점검 대장</h1>
          </div>

          <!-- 반복 출력될 헤더 -->
          <div id="reportHeader"
            style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; border-bottom: 1px solid #ccc; padding-bottom: 10px;">
            <!-- 왼쪽: 기간, 담당자, QC 정보 -->
            <div style="flex: 1;">
              <ul style="list-style: none; padding: 0; margin: 0;">
                <li><strong>기간:</strong> <span id="reportPeriod"></span></li>
                <li><strong>담당자:</strong> <span id="reportManagerDisplay">김으뜸</span></li>
                <li><strong>QC Lot:</strong> <span id="reportQcLot"></span></li>
                <li><strong>QC Exp. Date:</strong> <span id="reportQcExpDate"></span></li>
              </ul>
            </div>

            <!-- 오른쪽: 결재란 -->
            <div style="width: 50%;flex: 1; text-align: -webkit-right; margin-left: auto;">
              <table style="width: 50%; border-collapse: collapse; text-align: center;">
                <thead>
                  <tr>
                    <th style="border: 1px solid #000; padding: 5px;">담당</th>
                    <th style="border: 1px solid #000; padding: 5px;">팀장</th>
                    <th style="border: 1px solid #000; padding: 5px;">과장</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="border: 1px solid #000; height: 50px;"></td>
                    <td style="border: 1px solid #000;"></td>
                    <td style="border: 1px solid #000;"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- 실제 보고서 데이터 -->
          <div id="reportData">
            <!-- 동적으로 생성된 보고서 테이블이 들어갑니다 -->
          </div>
        </div>
      </div>
      <!-- 장소 관리 -->
      <div class="tab-pane fade" id="place" role="tabpanel" aria-labelledby="place-tab">
        <h2>장소 관리</h2>

        <!-- 서브탭 메뉴 -->
        <ul class="nav nav-pills my-3" id="placeSubTab" role="tablist">
          <li class="nav-item">
            <button class="nav-link active" id="place-register-tab" data-bs-toggle="tab"
              data-bs-target="#place-register" type="button" role="tab">장소 등록</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="place-modify-tab" data-bs-toggle="tab" data-bs-target="#place-modify"
              type="button" role="tab">장소 수정/삭제</button>
          </li>
        </ul>

        <div class="tab-content">
          <!-- 장소 등록 -->
          <div class="tab-pane fade show active" id="place-register" role="tabpanel"
            aria-labelledby="place-register-tab">
            <h3>장소 등록</h3>
            <form id="placeRegisterForm">
              <div class="mb-3">
                <label for="PlaceCode" class="form-label">장소 코드</label>
                <input type="text" class="form-control" id="PlaceCode" required>
              </div>
              <div class="mb-3">
                <label for="PlaceClass" class="form-label">장소 분류</label>
                <input type="text" class="form-control" id="PlaceClass" required>
              </div>
              <div class="mb-3">
                <label for="PlaceName" class="form-label">장소 이름</label>
                <input type="text" class="form-control" id="PlaceName">
              </div>
              <button type="button" class="btn btn-primary" onclick="registerPlace()">등록</button>
            </form>
          </div>

          <!-- 장소 수정/삭제 -->
          <div class="tab-pane fade" id="place-modify" role="tabpanel" aria-labelledby="place-modify-tab">
            <h3>장소 수정/삭제</h3>
            <!-- <button type="button" class="btn btn-info mb-3" onclick="printPlaceTable()">출력</button> -->

            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>장소 코드</th>
                    <th>장소 분류</th>
                    <th>장소 이름</th>
                    <th>수정/삭제</th>
                  </tr>
                </thead>
                <tbody id="place-table-body">
                  <!-- 데이터가 여기에 렌더링됨 -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <p>&copy; 2024 Luca Kim. All rights reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="mailto:kimet83@gmail.com">Contact</a></li>
      </ul>
    </div>
  </footer>

  <!-- 모달 -->
  <div class="modal fade" id="editDeviceModal" tabindex="-1" aria-labelledby="editDeviceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editDeviceModalLabel">장비 수정</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="editDeviceForm">
            <input type="hidden" id="editDeviceId">
            <div class="mb-3">
              <label for="editPlaceCode" class="form-label">PlaceCode</label>
              <input type="text" class="form-control" id="editPlaceCode">
            </div>
            <div class="mb-3">
              <label for="editSerial" class="form-label">Serial</label>
              <input type="text" class="form-control" id="editSerial">
            </div>
            <div class="mb-3">
              <label for="editStartDate" class="form-label">StartDate</label>
              <input type="date" class="form-control" id="editStartDate">
            </div>
            <div class="mb-3">
              <label for="editEndDate" class="form-label">EndDate</label>
              <input type="date" class="form-control" id="editEndDate">
            </div>
            <div class="mb-3">
              <label for="editReplaceSerial" class="form-label">ReplaceSerial</label>
              <input type="text" class="form-control" id="editReplaceSerial">
            </div>
            <div class="mb-3">
              <label for="editReplaceReason" class="form-label">교체사유</label>
              <textarea class="form-control" id="editReplaceReason" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="editDetail" class="form-label">Detail</label>
              <textarea class="form-control" id="editDetail" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="editIsActive" class="form-label">IsActive</label>
              <select class="form-select" id="editIsActive">
                <option value="true">Active</option>
                <option value="false">Inactive</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary" onclick="saveEdit()">저장</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 스틱 수정 모달 -->
  <div class="modal fade" id="editStickModal" tabindex="-1" aria-labelledby="editStickModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editStickModalLabel">Stick 수정</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="editStickForm">
            <input type="hidden" id="editStickLot">
            <div class="mb-3">
              <label for="editStickExpDate" class="form-label">StickExpDate</label>
              <input type="date" class="form-control" id="editStickExpDate">
            </div>
            <div class="mb-3">
              <label for="editLowMin" class="form-label">LowMin</label>
              <input type="tel" class="form-control" id="editLowMin">
            </div>
            <div class="mb-3">
              <label for="editLowMax" class="form-label">LowMax</label>
              <input type="tel" class="form-control" id="editLowMax">
            </div>
            <div class="mb-3">
              <label for="editHighMin" class="form-label">HighMin</label>
              <input type="tel" class="form-control" id="editHighMin">
            </div>
            <div class="mb-3">
              <label for="editHighMax" class="form-label">HighMax</label>
              <input type="tel" class="form-control" id="editHighMax">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary" onclick="saveStickEdit()">저장</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 외부정도관리 서명 모달-->
  <div class="modal fade" id="exSignModal" tabindex="-1" aria-labelledby="signModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signModalLabel">서명 입력</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <canvas id="exSignatureCanvas" width="350" height="200" style="border: 1px solid #000;"></canvas>
          <div class="text-center mt-3">
            <button id="clearExSignature" class="btn btn-warning">서명 지우기</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <button id="saveExSignature" class="btn btn-primary">저장</button>
        </div>
      </div>
    </div>
  </div>


  <!-- 서명 모달 -->
  <div class="modal fade" id="signModal" tabindex="-1" aria-labelledby="signModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signModalLabel">서명 입력</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <canvas id="signatureCanvas" width="350" height="200" style="border: 1px solid #000;"></canvas>
          <div class="text-center mt-3">
            <button id="clearSignature" class="btn btn-warning">서명 지우기</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <button id="saveSignature" class="btn btn-primary">저장</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 수정 모달 -->
  <div class="modal fade" id="editResultModal" tabindex="-1" aria-labelledby="editResultModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editResultModalLabel">결과 수정</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="editResultForm">
            <input type="hidden" id="editResultId">
            <div class="mb-3">
              <label for="editTestDate" class="form-label">테스트 날짜</label>
              <input type="date" class="form-control" id="editTestDate">
            </div>
            <div class="mb-3">
              <label for="editLowResult" class="form-label">Low Result</label>
              <input type="tel" class="form-control" id="editLowResult">
            </div>
            <div class="mb-3">
              <label for="editHighResult" class="form-label">High Result</label>
              <input type="tel" class="form-control" id="editHighResult">
            </div>
            <div class="mb-3">
              <label for="editResultCheck" class="form-label">결과 판정</label>
              <input type="text" class="form-control" id="editResultCheck">
            </div>
            <div class="mb-3">
              <label for="editDeviceCheck" class="form-label">장비 상태</label>
              <select class="form-control" id="editDeviceCheck">
                <option value="정상">정상</option>
                <option value="비정상">비정상</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="editComment" class="form-label">비고</label>
              <textarea class="form-control" id="editComment" rows="3"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary" onclick="saveEditedResult()">저장</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 장소 수정 모달 -->
  <div class="modal fade" id="editPlaceModal" tabindex="-1" aria-labelledby="editPlaceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPlaceModalLabel">장소 수정</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="editPlaceForm">
            <input type="hidden" id="editPlaceId">
            <div class="mb-3">
              <label for="editPlaceCode" class="form-label">장소 코드</label>
              <input type="text" class="form-control" id="editPlaceCode">
            </div>
            <div class="mb-3">
              <label for="editPlaceClass" class="form-label">장소 분류</label>
              <input type="text" class="form-control" id="editPlaceClass">
            </div>
            <div class="mb-3">
              <label for="editPlaceName" class="form-label">장소 이름</label>
              <input type="text" class="form-control" id="editPlaceName">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary" onclick="savePlaceEdit()">저장</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>

</html>
